$color-mars: #ed4343;

.report-wrap{
  background: black;
  height: 100vh;
  width: 100%;
}

h1, h2{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
}
h1{
  font-size: 2rem;
  padding-top: 2rem;
}
h2{
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

//Field Styles
fieldset{
  color: $color-mars;
  margin-top: 1.5rem;
  input, select {
    border-bottom: 1px solid white;
    display: block;
    font-size: 1.2rem;
    height: 2rem;
    margin: 0.9rem 5%;
    padding-left: 0.5rem;
    margin-bottom: 1.7rem;
    width: 90%;
    &:focus{
      outline: none;
    }
  }
}
select option, input, select, input::placeholder{
  background: black;
  border: none;
  color: $color-mars;
}

.action-taken{
  background: white;
  &::placeholder{
    background: white;
  }
}
