<div class="wrapper">
  <h1>Register</h1>
  <form action="">
    <fieldset>
      <input type="text" placeholder="Name" name="colName"/>
      <input type="number" placeholder="Age" name="colAge"/>
      <select name="colJob">
        <option value="" selected>Select occupation</option>
        <option *ngFor="let job of listJobs">
          {{job.name}}
        </option>
      </select>
    </fieldset>
    <div class="flex-wrap">
      <a (click)="postColonist()" routerLink="/encounters" class="check-in">Check in</a>  
    </div>
  </form>
</div>
