<div class="wrapper">
  <h1>Register</h1>
  <form action="">
    <fieldset>
      <input type="text" placeholder="Enter your name" />
      <input type="text" placeholder="Enter your age" />
      <select>
        <option value="" selected>Select an occupation</option>
        <option value="Job 1">Job 1</option>
        <option value="Job 2">Job 2</option>
        <option value="Job 3">Job 3</option>
        <option value="Job 4">Job 4</option>        
      </select>
      <input type="submit" value="Check in" class="check-in" />
    </fieldset>
  </form>
</div>
