// Background
$color-mars: #ed4343;

.wrapper {
  background: black;
  height: 100vh;
  width: 100%;
}

// DRY-Grouped Styles
h1, .check-in{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
}
.flex-wrap {
  display: flex;
  justify-content: center;
}
select option, input, select, input::placeholder{
  background: black;
  border: none;
  color: $color-mars;
}

// Heading Styles
h1 {
  padding-top: 3vh;
}
.check-in{
  background: black;
  border: none;
  margin-top: 30vh;
  &:focus {
    border: none;
  }
}
// Remove Arrow
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}


// Field Styles
fieldset{
  color: $color-mars;
  margin-top: 1.5rem;
  input, select {
    border-bottom: 1px solid white;
    display: block;
    font-size: 1.2rem;
    height: 2rem;
    margin: 0.9rem 5%;
    padding-left: 0.5rem;
    margin-bottom: 1.7rem;
    width: 90%;
    &:focus{
      outline: none;
    }
  }
}

// animation multiple box shadows
