.blog-container{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.95)), url('../../../assets/NASA-poster.jpg');
  background-size: cover;
  height: 225vh;
  width: 100%;
}
p{
  color: white;
}