a{
  text-decoration: none;
}
.blog-container{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('../../../assets/NASA-poster.jpg');
  background-size: cover;
  width: 100%;
}
.blog-content{
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
}
h1, .entry-header {
  color: orange;
  font-family: 'Economica';
}
h1{
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 6rem;
  padding-top: 4rem;
  text-align: center;
}
.entry-content{
  color: white;
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.2rem;
  line-height: 1.7rem;
  
}
.entry-header{
  font-size: 2rem;
}
.entry-title{
  border-bottom: 1px solid orange;
  color: orange;
  display: inline-block;
  margin: 4rem 0 2rem 0;
  padding-bottom: 0.5rem;
}

footer{
  color: white;
  font-family: 'Economica';
  font-size: 1.1rem;
  padding: 2rem;
  text-align: center;
  a {
    color: orange;
    padding-left: 1rem;
  }
}