<div class="encounters-page">
  <!--List of Encounters-->
  <div class="warning">
    <h1> Recent Encounters </h1>
    <a routerLink="/report">
      <h2> See an Alien? Report it! </h2>
    </a>
    <!--<button (click)="sortList($event)" class="sort-list"></button>-->
  </div>
  <div class="list">
    <ul>
      <li *ngFor="let encounter of listEncounters">
        <p><span>{{ encounter.date }} - {{ encounter.atype }}</span> {{ encounter.action }}</p>
      </li>
    </ul>

    <div class="report">
      <a routerLink="/report" class="">Report an Encounter!</a>
    </div>

  </div>
</div>

<div class="blog-icon">
  <a routerLink="/blog">Blog</a>
</div>