/* You can add global styles to this file, and also import other style files */
@import './reset';

body{
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(237,67,67,.7)), url('./assets/mars-background.jpg');
  background-position-x: 47%;
  background-position-y: 33%;
  font-size: 18px;
  height: 100vh;
}